.funny-glasses {
  position: relative;
  left: 210px;
  bottom: 110px;
  width: 80px;
}

.bandana {
  position: absolute;
  top: 178px;
  left: 108px;
}

.pawprint {
  position: fixed;
  top: 46px;
  left: 66px;
}

.luna {
  position: sticky;
  left: 0px;
}

.top-hat {
  position: relative;
  left: 133px;
  top: -10px;
  width: 40px;
  z-index: 1;
}
